
/* COLORS */

.bg-dark-blue{
    background-color: #2c3e50;
}

.bg-water-green{
    background-color:#1abc9c;
}

.bg-footer-top-blue{
    background-color:#3a546d;
}


.jumbotron-image{
   width: 200px;
   height: 200px;
}

#portfolio{
    border: 1px solid red;
}

#about{
    border: 1px dashed yellowgreen;
}

#contact{
    border: 1px solid fuchsia;
}


.right-line{
    height: 3px;
    width: 10%;
}

.left-line{
    height: 3px;
    width: 10%;
}



