
/* COLORS */

.bg-dark-blue{
    background-color: #2c3e50;
}

.bg-water-green{
    background-color:#1abc9c;
}

.bg-footer-top-blue{
    background-color:#3a546d;
}

.water-green{
    color:#1abc9c;
}

/* --------------------------- */

body{
    font-family: 'Lato', sans-serif;
}

/* RESIZING JUMBOTRON img */
.jumbotron-image{
   width: 200px;
   height: 200px;
}
/* ----------------- */

/* Lines around star */

.right-line{
    height: 3px;
    width: 10%;
}

.left-line{
    height: 3px;
    width: 10%;
}
/* --------------- */

/* Resizing img */

.container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------ */

/* BUTTON STYLE */

.btn-outline-white{
    color: #fff;
    border-color: #fff;
}
.btn-outline-white:hover{
    color: #1abc9c;
    border-color: #1abc9c;
    background-color: #fff;
}

/* ---------------- */


/* FORM */

.form-control{
    border:0;
    border-bottom: 1px solid lightgray;
}
/* --------------- */

/* CIRCLE DIV FOR SOCIAL ICONS */

.social-icon{
    border: 1px solid white;
    width: 35px;
    height: 35px;
    position: relative;
    margin-left: 6px;
}
.fab{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
}

/* --------------------- */